<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>foris-io</title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/stylesheets/custom.min.css" rel="stylesheet">

    <!-- Importing content of Angular -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
    <!-- Do not include the below bootstrap library -->
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->



    <!--             -->
    <script>
        var app = angular.module("forisApp", []);
        app.controller("homeCtrl", ['$scope', '$http', '$window', function( $scope,$http,$window) {
            $http({
                method: 'GET',
                url: '/checklogin'
            }).then(function (response) {
                if (response.data.status === 300) {
                    $window.location.href = '/login';
                }
                else  if(response.data.status === 200)
                {
                    $http({
                        method: 'GET',
                        url: '/profileusername'
                    }).
                    then(function(response)
                    {

                        console.log("Got profile info");
                        $scope.loginusername = angular.fromJson(response.data.result);

                    });

                    $http({
                        method: 'GET',
                        url: '/sensordata'
                    }).
                    then(function(response)
                    {
                        console.log("Got sensor info");
                        $scope.sensordata = response.data.sensor_arr;

                    });
                }

            });

            $scope.logoutsession= function ()
            {
                $http({
                    method: 'GET',
                    url: '/logoutsession'
                }).
                then(function(response)
                {
                    if(response.data.status===300)
                    {
                        console.log("destroy session");
                    }else
                    {
                        $window.location.href='/';
                    }
                });
            }


        }]);

    </script>

  </head>

  <body class="nav-md">
    <div class="container body" ng-app="forisApp" ng-controller="homeCtrl">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><span><img src="/images/forisLogo.png" alt="Logo" height="42" width="150"align="middle" style="margin:0px 28px">
              </span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{loginusername.fname}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>{{loginusername.device_id}}</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/home">Dashboard</a></li>
                      <!-- <li><a href="index2.php">Dashboard2</a></li>
                      <li><a href="index3.php">Dashboard3</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Sensors <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/water">Water Consumption</a></li>
                      <li><a href="/moisture">Moisture</a></li>
                      <li><a href="/temperature">Temperature</a></li>
                      <li><a href="/humidity">Humidity</a></li>
                      <li><a href="/pH">pH</a></li>
                      <li><a href="/salinity">Salinity</a></li>
                    </ul>
                  </li>
                  <li><a href="/sensortopology"><i class="fa fa-globe"></i> Sensor Topology</a>
                  </li>
                  <!-- <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.php">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.php">Fixed Footer</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">{{loginusername.fname}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a type="submit" ng-click="logoutsession()" role="button"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>


                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green"></span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
<!--             <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Today's Average Temperature </span>
              <div class="count">2500</div>
              <span class="count_bottom"><i class="green">4% more</i> From last Week</span>
            </div> -->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-sun-o"></i> Average Temperature</span>
              <div class="count" id="avg_temperature"> 53.6 &#8457;</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
            </div>
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-cloud"></i> Average Humidity</span>
              <div class="count green">89%</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>16% </i> From last Week</span>
            </div>-->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-tint"></i> Moisture Sensor</span>
              <div class="count green" id="avg_moisture">1023</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>20% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-globe"></i> Soil Salinity</span>
              <div class="count" id="avg_salinity">963</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
            </div>
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
              <!--<span class="count_top"><i class="fa fa-globe"></i> pH</span>-->
              <!--<div class="count" id="avg_pH">6.00</div>-->
              <!--<span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>1% </i> From last Week</span>-->
            <!--</div>-->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-globe"></i> Humidity</span>
              <div class="count" id="avg_humidity">38</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>1% </i> From last Week</span>
            </div>

          </div>
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Sensor Reading Extrapolation <small>Sensor attributes</small></h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <!--span>December 30, 2014 - January 28, 2015</span--> <b class="caret"></b>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-9 col-xs-12">
                  <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                  <div style="width: 100%;">
                    <!-- <img src="/images/main_graph.png" height="400" width="1000"> -->
                    <div id="chartContainer" style="height: 400px; width: 100%;">
                    </div>
                    <!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />

          <div class="row">


            <!-- <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <h4>App Usage across versions</h4>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>0.1.5.2</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>123k</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>0.1.5.3</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>53k</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>0.1.5.4</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>23k</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>0.1.5.5</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>3k</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>0.1.5.6</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>1k</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Device Usage</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Device</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Progress</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info">
                          <tr>
                            <td>
                              <p><i class="fa fa-square blue"></i>IOS </p>
                            </td>
                            <td>30%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square green"></i>Android </p>
                            </td>
                            <td>10%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square purple"></i>Blackberry </p>
                            </td>
                            <td>20%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square aero"></i>Symbian </p>
                            </td>
                            <td>15%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square red"></i>Others </p>
                            </td>
                            <td>30%</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Quick Settings</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">
                    <ul class="quick-list">
                      <li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                      </li>
                      <li><i class="fa fa-bars"></i><a href="#">Subscription</a>
                      </li>
                      <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                      <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                      </li>
                      <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                      <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                      </li>
                      <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
                      </li>
                    </ul>

                    <div class="sidebar-widget">
                      <h4>Profile Completion</h4>
                      <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
                      <div class="goal-wrapper">
                        <span class="gauge-value pull-left">$</span>
                        <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                        <span id="goal-text" class="goal-value pull-right">$5,000</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          </div>


          <!--<div class="row">-->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
              <!--&lt;!&ndash;<div class="x_panel">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="x_title">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<h2>Recent Activities <small>Sessions</small></h2>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<ul class="nav navbar-right panel_toolbox">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li class="dropdown">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<ul class="dropdown-menu" role="menu">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li><a href="#">Settings 1</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li><a href="#">Settings 2</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li><a class="close-link"><i class="fa fa-close"></i></a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="x_content">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="dashboard-widget-content">&ndash;&gt;-->

                    <!--&lt;!&ndash;<ul class="list-unstyled timeline widget">&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash; <li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="block">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="block_content">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 class="title">&ndash;&gt;-->
                                              <!--&lt;!&ndash;<a>Tips for increasing profitability on your farm in 2017</a>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="byline">&ndash;&gt;-->
                              <!--&lt;!&ndash;<span>13 hours ago</span> by <a>Ken Hilton</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="excerpt">The Red Wing Software team works with farms around the U.S. every day. And the one conversation that often comes to surface during our conversations is about best management practices for growth on the farm. This is a very timely topic with the start of a new year approaching, as every farming operation should be considering how to make the new year more profitable than the last. While the conversation initially centers on farm accounting software, it quickly becomes clear that the focus really revolves around systems and processes.</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li> &ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="block">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="block_content">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 class="title">&ndash;&gt;-->
                                              <!--&lt;!&ndash;<a>Canada's 150th celebrated with agriculture technology</a>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="byline">&ndash;&gt;-->
                              <!--&lt;!&ndash;<span>13 hours ago</span> by <a>Jane Smith</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="excerpt">It will have been 150 years since Canada's confederacy in 1867 when 2017 rolls around. <br>&ndash;&gt;-->

<!--&lt;!&ndash;Agriculture and Agri-Food Canada are celebrating the milestone through agriculture technology and an iconic symbol: the maple leaf.<br>&ndash;&gt;-->

<!--&lt;!&ndash;The project used GPS technology to program a combine's route on a farm's durum wheat crop in Wilcox, Sask. The combine automatically calculated the route once the coordinates were input, allowing the operator to manage the operation hands-free.<a>Read&nbsp;More</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="block">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="block_content">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 class="title">&ndash;&gt;-->
                                              <!--&lt;!&ndash;<a>Efficient Water usage in Farming</a>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="byline">&ndash;&gt;-->
                              <!--&lt;!&ndash;<span>13 hours ago</span> by <a>Jane Smith</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="excerpt">Find out best practicises to maximize effective water usage in Agriculture… <a>Read&nbsp;More</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                       <li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="block">&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="block_content">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h2 class="title">&ndash;&gt;-->
                                              <!--&lt;!&ndash;<a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>&ndash;&gt;-->
                                          <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="byline">&ndash;&gt;-->
                              <!--&lt;!&ndash;<span>13 hours ago</span> by <a>Jane Smith</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li> &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--<div class="col-md-8 col-sm-8 col-xs-12">-->



              <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col-md-12 col-sm-12 col-xs-12">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="x_panel">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="x_title">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2>Farm-field Location <small>geo-presentation</small></h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<ul class="nav navbar-right panel_toolbox">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                          <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>&ndash;&gt;-->
                          <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Settings 1</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Settings 2</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a class="close-link"><i class="fa fa-close"></i></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="x_content">&ndash;&gt;-->
                      <!--&lt;!&ndash;<div class="dashboard-widget-content">&ndash;&gt;-->
<!--&lt;!&ndash;                         <div class="col-md-4 hidden-small">-->
                          <!--<h2 class="line_30">125.7k Views from 60 countries</h2>-->

                          <!--<table class="countries_list">-->
                            <!--<tbody>-->
                              <!--<tr>-->
                                <!--<td>United States</td>-->
                                <!--<td class="fs15 fw700 text-right">33%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>France</td>-->
                                <!--<td class="fs15 fw700 text-right">27%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Germany</td>-->
                                <!--<td class="fs15 fw700 text-right">16%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Spain</td>-->
                                <!--<td class="fs15 fw700 text-right">11%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Britain</td>-->
                                <!--<td class="fs15 fw700 text-right">10%</td>-->
                              <!--</tr>-->
                            <!--</tbody>-->
                          <!--</table>-->
                        <!--</div> &ndash;&gt;-->
                        <!--&lt;!&ndash;<div id="world-map-gdp" class="col-md-12 col-sm-12 col-xs-12" style="height:230px;"></div>&ndash;&gt;-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
              <div class="row">


                <!-- Start to do list -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>To Do List <small>Sample tasks</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div class="">
                        <ul class="to_do">
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Replace Device 104 East </p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> pH levels are going down, check for different fertilizers</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Water Bill Due in 20 days</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Plan for next seasonal crop</p>
                          </li>
          <!--                 <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Create email address for new intern</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Have IT fix the network printer</p>
                          </li>
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> Copy backups to offsite location</p>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End to do list -->

                <!-- start of weather widget -->
                <script>
                var weekDay = {

                     0 : 'Sunday',
                     1 : 'Monday',
                     2 : 'Tuesday',
                     3 : 'Wednesday',
                     4 : 'Thursday',
                     5 : 'Friday',
                     6 : 'Saturday'
                }


                 var today = new Date();
                 function getnextday(i){

                   var today = new Date();
                   var tomorrow = new Date();
                   tomorrow.setDate(today.getDate()+i);
                   return tomorrow;
                 }
                  $.getJSON('/weatherdata', function (data) {
                  var weatherResult = [];
                  weatherResult = data;

                  var nextday;

                  //nextday = getnextday(1);
                  var today = new Date();
                  document.getElementById("dayone").innerHTML = weekDay[today.getDay()];
                  document.getElementById("tempone").innerHTML = weatherResult[0];

                  nextday = getnextday(2);
                  document.getElementById("daytwo").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("temptwo").innerHTML = weatherResult[1];

                  nextday = getnextday(3);
                  document.getElementById("daythree").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("tempthree").innerHTML = weatherResult[2];

                  nextday = getnextday(4);
                  document.getElementById("dayfour").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("tempfour").innerHTML = weatherResult[3];

                  nextday = getnextday(5);
                  document.getElementById("dayfive").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("tempfive").innerHTML = weatherResult[4];

                  nextday = getnextday(6);
                  document.getElementById("daysix").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("tempsix").innerHTML = weatherResult[5];

                  /*nextday = getnextday(7);
                  document.getElementById("dayseven").innerHTML = weekDay[nextday.getDay()];
                  document.getElementById("tempseven").innerHTML = weatherResult[6];*/

                  var today = new Date();
                  document.getElementById("currentday").innerHTML = weekDay[today.getDay()];

                });
                </script>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Weather Forecast <small>Sessions</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="temperature" id="currentday"><b></b>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="weather-icon">
                            <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                          </div>
                        </div>
                        <div class="col-sm-8">
                          <div class="weather-text">
                            <h2><br><i>Weather Forecast for this week</i></h2>
                          </div>
                        </div>
                      </div>


                      <div class="clearfix"></div>
                      <div class="row weather-days">
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="dayone"></h2>
                            <h3 class="degrees" id="tempone"></h3>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="daytwo"></h2>
                            <h3 class="degrees" id="temptwo"></h3>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="daythree"></h2>
                            <h3 class="degrees" id="tempthree">27</h3>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="dayfour"></h2>
                            <h3 class="degrees" id="tempfour"></h3>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="dayfive"></h2>
                            <h3 class="degrees" id="tempfive"></h3>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="daily-weather">
                            <h2 class="day" id="daysix"></h2>
                            <h3 class="degrees" id="tempsix"></h3>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of weather widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="http://www.foris.io">Foris.io</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/vendors/Flot/jquery.flot.js"></script>
    <script src="/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendors/moment/min/moment.min.js"></script>
    <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/javascripts/custom.min.js"></script>

    <!--Sensor chart start-->
    <script>
//        var app = angular.module("forisApp", []);
//        app.controller("chartCtrl", ['$scope', function( $scope) {
            $.getJSON('http://foris.mybluemix.net/HelloWorld?q=webapp_token_many', function (data) {

                //Finding average readings
                var avg_moisture = 0,
                    avg_temp = 0,
                    avg_salinity = 0,
                    avg_pH = 0;

                var moisture = []; //creating moisture dictionary
                for (var i = 0; i < data.length; i++) {
                    var d1 = data[i];
                    var dattime = d1["timestamp"];  //datetime
                    dattime = new Date(Date.UTC(dattime.substring(0, 4), (dattime.substring(5, 7) - 1), dattime.substring(8, 10), dattime.substring(11, 13), dattime.substring(14, 16)));
                    var d2 = d1["sensor"];
                    var val = d2["Moisture"];
                    moisture.push({
                        x: dattime, y: val
                    });
                    avg_moisture = avg_moisture + val;
                }
                if (data.length != 0) {
                    avg_moisture = (avg_moisture / data.length);
                    document.getElementById("avg_moisture").innerHTML = avg_moisture.toFixed(2);

                }


                var temperature = []; //creating Temperature dictionary
                for (var i = 0; i < data.length; i++) {
                    var d1 = data[i];
                    var dattime = d1["timestamp"];  //datetime
                    dattime = new Date(Date.UTC(dattime.substring(0, 4), (dattime.substring(5, 7) - 1), dattime.substring(8, 10), dattime.substring(11, 13), dattime.substring(14, 16)));
                    var d2 = d1["sensor"];
                    var val = d2["Temperature"];
                    temperature.push({
                        x: dattime, y: val
                    });
                    avg_temp = avg_temp + val;
                }
                if (data.length != 0) {
                    avg_temp = (avg_temp / data.length);
                    document.getElementById("avg_temperature").innerHTML = avg_temp.toFixed(2) + " &#8457;";
                }

                var salinity = []; //creating Salinity dictionary
                for (var i = 0; i < data.length; i++) {
                    var d1 = data[i];
                    var dattime = d1["timestamp"];  //datetime
                    dattime = new Date(Date.UTC(dattime.substring(0, 4), (dattime.substring(5, 7) - 1), dattime.substring(8, 10), dattime.substring(11, 13), dattime.substring(14, 16)));
                    var d2 = d1["sensor"];
                    var val = d2["Salinity"];
                    salinity.push({
                        x: dattime, y: val
                    });
                    avg_salinity = avg_salinity + val;
                }
                if (data.length != 0) {
                    avg_salinity = (avg_salinity / data.length);
                    document.getElementById("avg_salinity").innerHTML = avg_salinity.toFixed(2);
                }

                var pH = []; //creating pH dictionary
                for (var i = 0; i < data.length; i++) {
                    var d1 = data[i];
                    var dattime = d1["timestamp"];  //datetime
                    dattime = new Date(Date.UTC(dattime.substring(0, 4), (dattime.substring(5, 7) - 1), dattime.substring(8, 10), dattime.substring(11, 13), dattime.substring(14, 16)));
                    var d2 = d1["sensor"];
                    var val = d2["Ph"];
                    pH.push({
                        x: dattime, y: val
                    });
                    avg_pH = avg_pH + val;
                }
                if (data.length != 0) {
                    avg_pH = (avg_pH / data.length);
//                    document.getElementById("avg_pH").innerHTML = avg_pH.toFixed(2);
                }

                var chart = new CanvasJS.Chart("chartContainer",
                    {
                        title: {
                            text: "Sensor Readings",
                        },

                        axisX: {
                            title: "Date Time",
                            gridThickness: 2,
                            interval: 2,
                            intervalType: "seconds",
                            valueFormatString: "HH mm ss",
                            xValueType: "dateTime",
                            labelAngle: -20
                        },
                        toolTip: {
                            shared: true
                        },
                        axisY: {
                            title: "scale"
                        },
                        data: [
                            {
                                type: "line",
                                showInLegend: true,
                                lineThickness: 2,
                                name: "Temperature",
                                markerType: "square",
                                color: "#F08080",
                                dataPoints: temperature
                            },
                            {
                                type: "line",
                                showInLegend: true,
                                name: "Moisture",
                                color: "#20B2AA",
                                lineThickness: 2,
                                dataPoints: moisture
                            },
                            {
                                type: "line",
                                showInLegend: true,
                                name: "pH",
                                color: "#C71585",
                                lineThickness: 2,
                                dataPoints: pH
                            },
                            {
                                type: "line",
                                showInLegend: true,
                                name: "Salinity",
                                color: "#FF5733",
                                lineThickness: 2,
                                dataPoints: salinity
                            }
                        ]
                    });

                chart.render();

            });

//        }]);

    </script>
    <script type="text/javascript" src="/javascripts/canvasjs.min.js"></script>
    <!--Sensor chart end-->

    <!-- Flot -->
    <script>
      $(document).ready(function() {
        var data1 = [
          [gd(2012, 1, 1), 17],
          [gd(2012, 1, 2), 74],
          [gd(2012, 1, 3), 6],
          [gd(2012, 1, 4), 39],
          [gd(2012, 1, 5), 20],
          [gd(2012, 1, 6), 85],
          [gd(2012, 1, 7), 7]
        ];

        var data2 = [
          [gd(2012, 1, 1), 82],
          [gd(2012, 1, 2), 23],
          [gd(2012, 1, 3), 66],
          [gd(2012, 1, 4), 9],
          [gd(2012, 1, 5), 119],
          [gd(2012, 1, 6), 6],
          [gd(2012, 1, 7), 9]
        ];
        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
          data1, data2
        ], {
          series: {
            lines: {
              show: false,
              fill: true
            },
            splines: {
              show: true,
              tension: 0.4,
              lineWidth: 1,
              fill: 0.4
            },
            points: {
              radius: 0,
              show: true
            },
            shadowSize: 2
          },
          grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'
          },
          colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
          xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",
            tickSize: [1, "day"],
            //tickLength: 10,
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
          },
          yaxis: {
            ticks: 8,
            tickColor: "rgba(51, 51, 51, 0.06)",
          },
          tooltip: false
        });

        function gd(year, month, day) {
          return new Date(year, month - 1, day).getTime();
        }
      });
    </script>
    <!-- /Flot -->

    <!-- JQVMap -->
    <script>
      $(document).ready(function(){
        $('#world-map-gdp').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#E6F2F0', '#149B7E'],
            normalizeFunction: 'polynomial'
        });
      });
    </script>
    <!-- /JQVMap -->

    <!-- Skycons -->
    <script>
      $(document).ready(function() {
        var icons = new Skycons({
            "color": "#73879C"
          }),
          list = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

        for (i = list.length; i--;)
          icons.set(list[i], list[i]);

        icons.play();
      });
    </script>
    <!-- /Skycons -->

    <!-- Doughnut Chart -->
    <script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        new Chart(document.getElementById("canvas1"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              "Symbian",
              "Blackberry",
              "Other",
              "Android",
              "IOS"
            ],
            datasets: [{
              data: [15, 20, 30, 10, 30],
              backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A",
                "#3498DB"
              ],
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
              ]
            }]
          },
          options: options
        });
      });
    </script>
    <!-- /Doughnut Chart -->

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').php(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        };

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').php(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->

    <!-- gauge.js -->
    <script>
      var opts = {
          lines: 12,
          angle: 0,
          lineWidth: 0.4,
          pointer: {
              length: 0.75,
              strokeWidth: 0.042,
              color: '#1D212A'
          },
          limitMax: 'false',
          colorStart: '#1ABC9C',
          colorStop: '#1ABC9C',
          strokeColor: '#F0F3F3',
          generateGradient: true
      };
      var target = document.getElementById('foo'),
          gauge = new Gauge(target).setOptions(opts);

      gauge.maxValue = 6000;
      gauge.animationSpeed = 32;
      gauge.set(3200);
      gauge.setTextField(document.getElementById("gauge-text"));
    </script>
    <!-- /gauge.js -->
  </body>
</html>
