<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>foris-io</title>

  <!-- Bootstrap -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <!-- Font Awesome -->
  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  <!-- NProgress -->
  <link href="/stylesheets/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/stylesheets/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/stylesheets/custom.min.css" rel="stylesheet">


  <!-- Importing content of Angular -->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

  <!--             -->

  <script>
      var app = angular.module("forisApp", []);
      //$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
      app.controller("loginCtrl", ['$scope', '$http', '$window', function( $scope,$http,$window) {


          $http({
              method: 'GET',
              url: '/checklogin'
          }).then(function (response) {
              if (response.data.status === 200) {
                  $window.location.href = '/';
              }

          });

          $scope.signin = function () {
              var in_name = $scope.name;
              var in_password = $scope.password;
              if (in_name == null || in_name == "") {
                  alert("Username cannot be empty!!");
                  return;
              }
              if (in_password == null || in_password == "") {
                  alert("password cannot be empty!!");
                  return;
              }
              $http({
                  method: 'POST',
                  url: '/signin',
                  data: {"name": in_name, "password": in_password}
              }).then(function (response) {
                  if (response.data.status == 100) {
                      alert("Invalid User and Password!");
                  }
                  else if(response.data.status == 411)
                  {
                      alert ("Error. Please contact Administrator");
                  }
                  else {
                      $window.location.href = '/home';
                  }
              });
          }

          $scope.signup = function () {
              var in_name = $scope.newusername;
              var in_fname = $scope.newuserfname;
              var in_lname = $scope.newuserlname;
              var in_password = $scope.newuserpassword;
              var in_email = $scope.newuseremail;
              var in_deviceID = $scope.newuserdevid;
              if (in_name == null || in_name == "") {
                  alert("Username cannot be empty!!");
                  return;
              }
              if (in_fname == null || in_fname == "") {
                  alert("User First name cannot be empty!!");
                  return;
              }
              if (in_lname == null || in_lname == "") {
                  alert("User Last name cannot be empty!!");
                  return;
              }
              if (in_password == null || in_password == "") {
                  alert("Password cannot be empty!!");
                  return;
              }
              if (in_email == null || in_email == "") {
                  alert("Email cannot be empty!!");
                  return;
              }
              if (in_deviceID == null || in_deviceID == "") {
                  alert("Device ID cannot be empty!!");
                  return;
              }
              $http({
                  method: 'POST',
                  url: '/signup',
                  data: {"name": in_name, "fname" : in_fname,"lname" : in_lname,"password": in_password, "email": in_email, "devid": in_deviceID}
              }).then(function (response) {
                  if (response.data.status == 409) {
                      alert("Record exists. Please Login");
                  }
                  else if(response.data.status == 411)
                  {
                      alert("Error. Please contact Administrator");
                  }
                  else {
                      $window.location.href = '/home';
                  }
              });
          }
      }]);

  </script>

</head>

<body class="login" ng-app="forisApp" ng-controller="loginCtrl">
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="loginForm">
          <img src="/images/forisLogo_green.png" alt="Logo" height="42" width="150"align="middle" style="margin:0px 28px">
          <br><br>
          <h1>Login</h1>
          <div>
            <input type="text" name ="name" class="form-control" placeholder="Username" required="" ng-model="name"/>
          </div>
          <div>
            <input type="password" name = "password" class="form-control" placeholder="Password" required="" ng-model="password"/>
          </div>
          <div>
            <a input type="submit" class="btn btn-default submit" ng-click="signin()" role="button">Log In</a>
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1></i> Foris.io</h1>
              <p>© 2016  foris.io inc   Oakland, CA  94610     Privacy Policy    <br>All Rights Reserved.</p>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div id="register" class="animate form registration_form">
      <section class="login_content">
        <form>
          <img src="/images/forisLogo_green.png" alt="Logo" height="42" width="150"align="middle" style="margin:0px 28px">
          <br><br>
          <h1>Create Account</h1>
          <div>
            <input type="text" name="newusername" class="form-control" placeholder="Username" required="" ng-model="newusername"/>
          </div>
          <div>
            <input type="text" name="newuserfname" class="form-control" placeholder="User First Name" required="" ng-model="newuserfname"/>
          </div>
          <div>
            <input type="text" name="newuserlname" class="form-control" placeholder="User Last Name" required="" ng-model="newuserlname"/>
          </div>
          <div>
            <input type="email" name="newuseremail" class="form-control" placeholder="Email" required="" ng-model="newuseremail"/>
          </div>
          <div>
            <input type="text" name="newuserdevid" class="form-control" placeholder="System ID" required="" ng-model="newuserdevid"/>
          </div>
          <div>
            <input type="password" name="newuserpassword" class="form-control" placeholder="Password" required="" ng-model="newuserpassword"/>
          </div>
          <div>
            <a input type="submit" class="btn btn-default submit" ng-click="signup()" role="button">Submit</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Already a member ?
              <a href="#signin" class="to_register"> Log in </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1></i> Foris.io</h1>
              <p>© 2016  foris.io inc   Oakland, CA  94610     Privacy Policy    <br>All Rights Reserved.</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</body>
</html>
